.error {
  background-color: red;
}


.warning {
  background-color: yellow;
}

.info,
.question
{
  background-color: #d3d3d3;
  padding: 2px;
}

.tooltip.undefined {
  background-color: #970f00;
}

.info::before,
.question::before{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416.979 416.979'%3E%3Cg%3E%3Cpath d='M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85 c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786 c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576 c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765 c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z'/%3E%3C/g%3E%3C/svg%3E ");
  position: absolute;
  top: 0;
  right: -20px;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1.3em;
  background-position: left center;
  background-repeat: no-repeat;
}

.info::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416.979 416.979'%3E%3Cg%3E%3Cpath d='M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85 c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786 c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576 c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765 c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z'/%3E%3C/g%3E%3C/svg%3E ");
}

.question::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgZGF0YS1uYW1lPSJFYmVuZSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Izk5OTt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTAsMGE1MCw1MCwwLDEsMCw1MCw1MEE1MCw1MCwwLDAsMCw1MCwwWm0wLDkwLjMyQTQwLjMyLDQwLjMyLDAsMSwxLDkwLjMyLDUwLDQwLjMsNDAuMywwLDAsMSw1MCw5MC4zMlptNy0xNC43NGE3LDcsMCwxLDEtNy03QTcsNywwLDAsMSw1Nyw3NS41OFoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik01My44LDYzLjZINDYuNTZhMi40MSwyLjQxLDAsMCwxLTIuNC0yLjdjMS04LjIxLDYuMzYtMTIsMTAtMTQuNTZTNTksNDIuODMsNTksMzkuNjJjMC04LjM2LTcuMTYtOC43OC04LjU5LTguNzgtLjg5LDAtOC4xMy4yMy05LjI2LDcuNzJhMi40MiwyLjQyLDAsMCwxLTIuMzksMi4wNkgzMS41NGEyLjQ0LDIuNDQsMCwwLDEtMi40MS0yLjY5LDIwLjc4LDIwLjc4LDAsMCwxLDYuNjgtMTMuNTgsMjEuNjMsMjEuNjMsMCwwLDEsMTQuNi01LjUxQzYwLjY0LDE4Ljg0LDcxLDI2LDcxLDM5LjYyYzAsOS42MS02LDEzLjc4LTkuOTIsMTYuNTUtMywyLjEzLTQuNDgsMy4yNi00LjkyLDUuNTVBMi4zOSwyLjM5LDAsMCwxLDUzLjgsNjMuNloiLz48L3N2Zz4=");
}


